.input-scroll-container::-webkit-scrollbar {
  width: 108px !important; /* Width of the scrollbar */
}

.input-scroll-container::-webkit-scrollbar-thumb {
  background-color: #888 !important; /* Color of the scrollbar thumb */
  border-radius: 4px !important; /* Radius of the scrollbar thumb */
}
